body {
  margin: 0;
  background-color: white;
}
h2 {
  font-weight: 500;
  padding: 70px;
}
h4 {
  font-weight: 500;
  padding: 70px;
}
h1 {
  background-color: rgb(13, 3, 1);
  color: rgb(180, 23, 23);
  text-align: center;
  margin-top: 0%;
  height: 75px;
  line-height: 75px;
}
h3 {
  padding: 70px;
}
img {
  height: 500px;
  width: 750px;
}
