body {
  margin: 0;
  background-color: rgb(43, 206, 224);
}
h2 {
  font-weight: 500;
  padding: 35px;
  color: yellow;
}
h4 {
  font-weight: 500;
  padding: 35px;
}
h1 {
  background-color: rgb(13, 3, 1);
  color: rgb(180, 23, 23);
  text-align: center;
  margin-top: 0%;
  height: 75px;
  line-height: 75px;
}
h3 {
  padding: 35px;
}
img {
  height: 650px;
  width: 1250px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 102, 156);
  color: azure;
  size: 50px;
}

.flex-item {
  flex: 0 0 50px;
  padding: 40px;
  border: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(31, 97, 205);
  color: azure;
}

.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
}
input {
  width: 300px;
  align-items: center;
}
